@page
@model gestion_courrier_bo.Pages.courrier.ListeModel

@{
    ViewData["Title"] = "Liste";
}

<h1>Liste</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courrierDestinataire[0].Courrier.Objet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courrierDestinataire[0].Courrier.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courrierDestinataire[0].Courrier.Commentaire)
            </th>
            <th>
                Pièce Jointe
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courrierDestinataire[0].Courrier.DateReception)
            </th>
            <th>
                Expéditeur
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courrierDestinataire[0].Courrier.Recepteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courrierDestinataire[0].Courrier.Flag)
            </th>
            <th>
               Destinataire
            </th>
            <th>
                Status
            </th>
            <th>
                Coursier
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.courrierDestinataire)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Courrier.Objet)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Courrier.Reference)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Courrier.Commentaire)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Courrier.Fichier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Courrier.DateReception)
                    </td>
                    @if(item.Courrier.ExpediteurInterne != null)
                    {
                        <td>
                        @Html.DisplayFor(modelItem => item.Courrier.ExpediteurInterne.Nom)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Courrier.ExpediteurExterne)
                        </td>
                    }
                    
                    <td>
                    @Html.DisplayFor(modelItem => item.Courrier.Recepteur.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Courrier.Flag.Designation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destinataire.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Label)
                    </td>
                    <td>
                        @if(item.IdCoursier == null)
                        {
                            <a asp-page="Assigner" asp-route-courrier="@item.IdCourrier" asp-route-destinataire="@item.IdDestinataire"><button>Assigner</button></a>
                        }
                        else{

                        @Html.DisplayFor(modelItem => item.Coursier.Nom)
                        }

                    </td>
                  @*  <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
                </tr>
        }
    </tbody>
</table>
